<div class="containter mx-auto px-5">
  <h1 class="text-slate-900 text-lg text-center">Chocolate Maker Tracker </h1>
  <p class="text-slate-500 hover:text-blue-600"><%= link_to "Products", controller: "products" %> </p>
  <p class="text-slate-500 hover:text-blue-600"><%= link_to "Product Types", controller: "product_types" %> </p>
  <p class="text-slate-500 hover:text-blue-600"><%= link_to "Batches", controller: "batches" %> </p>

</div>
